# === App Configuration ===
SECRET_KEY=SOME_SECRET_KEY_HERE

# === Database Configuration ===
DB_NAME=app.db
DB_PATH=out/database
DB_MIGRATIONS_PATH=src/main/migrations
DB_ADMIN_USERNAME=admin # Default admin username
DB_ADMIN_PASSWORD=admin123 # Default admin password

# === BCrypt Configuration ===
# Feel free to adjust as needed
SALT_ROUNDS=10 # Number of salt rounds for bcrypt hashing 