@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Lato, system-ui, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*::-webkit-scrollbar {*/
/*  width: 10px;*/
/*}*/

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}