.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    width: 12rem;
    height: 100%;
    color: white;
    background-color: rgb(33, 37, 41);
    overflow: hidden;
    z-index: 1;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}


.sidebar-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar-brand .logo {
    font-size: 3.5rem;
}

.sidebar-brand .logo-text {
    font-size: 2rem;
}

.sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem;
    transition-duration: 0.5s;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: bolder;
    padding: 0.8rem;
    width: 100%;
    transition-duration: 0.5s;
}

.navlink:hover,
.navlink.active {
    color: white;
    background-color: rgba(13, 109, 251, 0.53);
    text-decoration: none;
    cursor: pointer;
}

.nav-icon {
    margin-right: 1rem;
}

.sidebar-divider {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(13, 109, 251, 0.53);
}

.sidebar-toggle .nav-icon {
    font-size: 2rem;
}

.sidebar-toggle:hover {
    color: rgb(32, 122, 255);
}

.sidebar.hidden {
    width: 6rem;
}

.sidebar.hidden .nav-title {
    display: none;
}

.sidebar.hidden .logo-text {
    display: none;
}

/* Responsive support */
@media (max-width: 768px) {
    .sidebar-container {
        z-index: 9999;
        top: 0;
        position: sticky;
    }

    .sidebar {
        width: 100%;
        height: auto;
        top: 0;
        position: sticky;
    }

    .sidebar.hidden {
        width: 100%;
        height: auto;
    }

    .sidebar.hidden .nav-title {
        display: inline-block;
    }

    .sidebar.hidden .logo-text {
        display: inline-block;
    }

    .sidebar-brand {
        display: none;
    }

    .sidebar-divider {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(13, 109, 251, 0.53);
    }

    .sidebar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: white;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        cursor: pointer;
        margin: 1rem;
        transition-duration: 0.5s;
    }

    .sidebar-toggle .nav-icon {
        font-size: 2rem;
    }

    .sidebar-toggle:hover {
        color: rgb(32, 122, 255);
    }

    .sidebar-nav.hidden {
        display: none;
    }

    .navlink {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        transition-duration: 0s;
    }

    body {
        margin-left: 0;
    }
}